.billing_form.from_group input{
border: var(--card-bg-02);

}
.from_group input{
    width: 70%;
    padding: 8px;
}
.checkout_cart{
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
border-radius: 5px;
}
.checkout_cart h6,h4{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.checkout_cart h6{
    margin-bottom: 20px;
}
.checkout_cart  h4{
border: 1px solid rgb(221, 221, 221 0.253);
padding-top: 20px;
}